In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
titanic_df = pd.read_csv('data/titanic_train.csv')

In [5]:
titanic_df.isnull().sum()

passenger_id      0
pclass            0
name              0
sex               0
age             174
sibsp             0
parch             0
ticket            0
fare              1
cabin           659
embarked          1
boat            542
body            777
home.dest       386
survived          0
dtype: int64

In [6]:
titanic_df['age'].fillna(value = titanic_df['age'].mean(), inplace = True)

In [25]:
titanic_df['fare'].fillna(value = titanic_df['fare'].mode()[0], inplace = True)

In [30]:
titanic_df['cabin'].fillna(value = titanic_df['cabin'].mode()[0], inplace = True)

In [33]:
titanic_df['embarked'].fillna(value = titanic_df['embarked'].mode()[0], inplace = True)
titanic_df['boat'].fillna(value = titanic_df['boat'].mode()[0], inplace = True)
titanic_df['body'].fillna(value = titanic_df['body'].mean(), inplace = True)
titanic_df['home.dest'].fillna(value = titanic_df['home.dest'].mode()[0], inplace = True)

In [34]:
titanic_df.isnull().sum()

passenger_id    0
pclass          0
name            0
sex             0
age             0
sibsp           0
parch           0
ticket          0
fare            0
cabin           0
embarked        0
boat            0
body            0
home.dest       0
survived        0
dtype: int64