In [1]:
import pandas as pd

In [5]:
x = pd.DataFrame({'a': [1,2,3,4,5], 'b': [20,20,40,50,60]})
x

   a   b
0  1  20
1  2  20
2  3  40
3  4  50
4  5  60

In [7]:
x.index

RangeIndex(start=0, stop=5, step=1)

In [8]:
x.columns

Index(['a', 'b'], dtype='object')

In [9]:
def inc(x):
    x = x +10
    return x

In [10]:
x['b'].apply(inc)

0    30
1    30
2    50
3    60
4    70
Name: b, dtype: int64

In [14]:
x = pd.DataFrame({'a': [5,2,1,4,3], 'b': [40,50,40,30,60]})

In [12]:
x.sort_values('b')

   a   b
3  4  30
0  1  40
2  3  40
1  2  50
4  5  60

In [15]:
x.sort_values('a')

   a   b
2  1  40
1  2  50
4  3  60
3  4  30
0  5  40

In [16]:
x['b'].unique()

array([40, 50, 30, 60], dtype=int64)

In [17]:
x['b'].nunique()

4

In [18]:
x['b'].value_counts()

40    2
30    1
60    1
50    1
Name: b, dtype: int64