In [1]:
import numpy as np
import pandas as pd

In [19]:
x = ['a','b','c','d','e']
x2 = ['a','b','c','d','g']
y = [1,2,3,4,5]
y2 = [1,2,3,4,5]
z = {5:'a', 4:'b',3:'c',2:'d',1:'e'}

In [3]:
a = pd.Series(x)
a

0    a
1    b
2    c
3    d
4    e
dtype: object

In [20]:
a = pd.Series(data = y, index = x)
b = pd.Series(data = y2, index = x2)
a

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [7]:
a = pd.Series(z)
a

5    a
4    b
3    c
2    d
1    e
dtype: object

In [21]:
a + b

a    2.0
b    4.0
c    6.0
d    8.0
e    NaN
g    NaN
dtype: float64

In [15]:
a * b

a     1
b     4
c     9
d    16
e    25
dtype: int64

In [53]:
#Datafrane
A = [1,2,3,4]
B = [5,6,7,8]
C = [9,0,1,2]
D = [3,4,5,6]
E = [7,8,9,0]
df = pd.DataFrame([A,B,C,D,E], ['a','b','c','d','e'],['w','x','y','z'])
df

   w  x  y  z
a  1  2  3  4
b  5  6  7  8
c  9  0  1  2
d  3  4  5  6
e  7  8  9  0

In [23]:
df['p'] = df['y'] + df['z']
df

   w  x  y  z   p
a  1  2  3  4   7
b  5  6  7  8  15
c  9  0  1  2   3
d  3  4  5  6  11
e  7  8  9  0   9

In [24]:
# deleting row
df.drop('e')

   w  x  y  z   p
a  1  2  3  4   7
b  5  6  7  8  15
c  9  0  1  2   3
d  3  4  5  6  11

In [28]:
df

   w  x  y  z   p
a  1  2  3  4   7
b  5  6  7  8  15
c  9  0  1  2   3
d  3  4  5  6  11

In [27]:
#deleting it permantently
df.drop('e', inplace = True)
df

KeyError: "['e'] not found in axis"

In [29]:
df

   w  x  y  z   p
a  1  2  3  4   7
b  5  6  7  8  15
c  9  0  1  2   3
d  3  4  5  6  11

In [30]:
#deleting columns
df.drop('p', axis = 1)

   w  x  y  z
a  1  2  3  4
b  5  6  7  8
c  9  0  1  2
d  3  4  5  6

In [31]:
#making it permanent
df.drop('p', axis = 1, inplace = True)
df

   w  x  y  z
a  1  2  3  4
b  5  6  7  8
c  9  0  1  2
d  3  4  5  6

In [32]:
#accessing columns in df
df['y']

a    3
b    7
c    1
d    5
Name: y, dtype: int64

In [34]:
#accessing rows in df
df.loc['c']

w    9
x    0
y    1
z    2
Name: c, dtype: int64

In [35]:
#accessing rows using index
df.iloc[1]

w    5
x    6
y    7
z    8
Name: b, dtype: int64

In [40]:
df

   w  x  y  z
a  1  2  3  4
b  5  6  7  8
c  9  0  1  2
d  3  4  5  6

In [45]:
#slicing
print(df.loc['b','y'])
print(df.loc['c':'d','x':'y'])

7
   x  y
c  0  1
d  4  5

In [47]:
 df[df>3]

     w    x    y    z
a  NaN  NaN  NaN  4.0
b  5.0  6.0  7.0  8.0
c  9.0  NaN  NaN  NaN
d  NaN  4.0  5.0  6.0

In [50]:
df[df['w'] > 1]

     w    x    y    z
b  5.0  6.0  7.0  8.0
c  9.0  NaN  NaN  NaN

In [54]:
df

   w  x  y  z
a  1  2  3  4
b  5  6  7  8
c  9  0  1  2
d  3  4  5  6
e  7  8  9  0

In [56]:
df[df['w'] > 3]

   w  x  y  z
b  5  6  7  8
c  9  0  1  2
e  7  8  9  0

In [57]:
df[df['w'] > 1][['w','x']]

   w  x
b  5  6
c  9  0
d  3  4
e  7  8

In [58]:
df[(df['w'] > 3) & (df['x'] > 0)]

   w  x  y  z
b  5  6  7  8
e  7  8  9  0

In [61]:
df[(df['y']> 9) | (df['z'] > 3)]

   w  x  y  z
a  1  2  3  4
b  5  6  7  8
d  3  4  5  6