In [1]:
import pandas as pd
import numpy as np

In [2]:
x1 = {'a': [1,2,3], 'b': [4,5,6]}
y1 = {'c': [7,8,9], 'd': [0,1,2]}

In [5]:
x = pd.DataFrame(x1, index = ['p1','p2','p3'])
print(x)
y = pd.DataFrame(y1, index = ['p1','p2','p3'])
print(y)

    a  b
p1  1  4
p2  2  5
p3  3  6
    c  d
p1  7  0
p2  8  1
p3  9  2

In [6]:
x

    a  b
p1  1  4
p2  2  5
p3  3  6

In [10]:
x.join(y)

    a  b  c  d
p1  1  4  7  0
p2  2  5  8  1
p3  3  6  9  2

In [11]:
x = pd.DataFrame(x1, index = ['p1','p2','p3'])
y = pd.DataFrame(y1, index = ['p1','p4','p5'])

    a  b
p1  1  4
p2  2  5
p3  3  6
    c  d
p1  7  0
p4  8  1
p5  9  2

In [12]:
x.join(y, how = "outer")

      a    b    c    d
p1  1.0  4.0  7.0  0.0
p2  2.0  5.0  NaN  NaN
p3  3.0  6.0  NaN  NaN
p4  NaN  NaN  8.0  1.0
p5  NaN  NaN  9.0  2.0

In [13]:
x.join(y, how = "left")

    a  b    c    d
p1  1  4  7.0  0.0
p2  2  5  NaN  NaN
p3  3  6  NaN  NaN

In [14]:
x.join(y, how = "right")

      a    b  c  d
p1  1.0  4.0  7  0
p4  NaN  NaN  8  1
p5  NaN  NaN  9  2